In [122]:
import pandas as pd 
import numpy as np 
import warnings
warnings.filterwarnings('ignore')

In [408]:
deliveries = pd.read_csv('deliveries.csv')

In [470]:
matches = pd.read_csv('matches.csv')

In [472]:
deliveries[deliveries['inning'] == 2].shape

(125741, 17)

In [330]:
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [331]:
deliveries = deliveries[['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball', 'total_runs', 'is_wicket']]

In [332]:
matches.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [333]:
matches.shape

(1095, 20)

Column we need
- Batting Team
- Bowling Team
- Current Score
- Wickets out
- Overs completed
- Target
- select venue

In [334]:
matches = matches[['id', 'city', 'venue', 'target_runs', 'super_over']]

In [335]:
matches.rename(columns={'id' : 'match_id'}, inplace=True)

In [336]:
matches.rename(columns={'id' : 'match_id'}, inplace=True)
ipl = matches.merge(deliveries, how = "inner", on = 'match_id')

In [337]:
ipl.head()

,match_id,city,venue,target_runs,super_over,inning,batting_team,bowling_team,over,ball,total_runs,is_wicket
0,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,1,0
1,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,0,0
2,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,1,0
3,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,0,0
4,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,0,0

In [338]:
ipl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   match_id      260920 non-null  int64
 1   city          248523 non-null  object
 2   venue         260920 non-null  object
 3   target_runs   260611 non-null  float64
 4   super_over    260920 non-null  object
 5   inning        260920 non-null  int64
 6   batting_team  260920 non-null  object
 7   bowling_team  260920 non-null  object
 8   over          260920 non-null  int64
 9   ball          260920 non-null  int64
 10  total_runs    260920 non-null  int64
 11  is_wicket     260920 non-null  int64
dtypes: float64(1), int64(6), object(5)
memory usage: 23.9+ MB

In [339]:
ipl.isnull().sum()

match_id            0
city            12397
venue               0
target_runs       309
super_over          0
inning              0
batting_team        0
bowling_team        0
over                0
ball                0
total_runs          0
is_wicket           0
dtype: int64

In [340]:
ipl = ipl[ipl['inning'] == 2]

In [341]:
ipl[ipl['target_runs'] == 48.0]

,match_id,city,venue,target_runs,super_over,inning,batting_team,bowling_team,over,ball,total_runs,is_wicket
149970,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,0,1,1,0
149971,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,0,2,6,0
149972,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,0,3,0,1
149973,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,0,4,0,1
149974,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,0,5,0,0
149975,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,0,6,4,0
149976,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,1,1,1,0
149977,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,1,2,0,1
149978,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,1,3,1,0
149979,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,1,4,0,0
149980,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,1,5,1,0
149981,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,1,6,6,0
149982,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,1,7,1,0
149983,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,2,1,1,0
149984,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,2,2,1,0
149985,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,2,3,2,0
149986,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,2,4,0,0
149987,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,2,5,1,0
149988,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,2,6,1,0
149989,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,2,7,0,0
149990,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,2,8,0,0
149991,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,3,1,1,0
149992,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,3,2,4,0
149993,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,3,3,6,0
149994,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,3,4,1,0
149995,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,3,5,1,0
149996,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,3,6,1,0
149997,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,4,1,2,0
149998,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,4,2,0,0
149999,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,4,3,1,0
150000,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,4,4,1,0
150001,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,4,5,1,0
150002,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,4,6,0,0
150003,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,5,1,1,0
150004,1082648,Bangalore,M Chinnaswamy Stadium,48.0,N,2,Kolkata Knight Riders,Sunrisers Hyderabad,5,2,1,0

In [342]:
ipl.info()

<class 'pandas.core.frame.DataFrame'>
Index: 125741 entries, 124 to 260919
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   match_id      125741 non-null  int64
 1   city          119729 non-null  object
 2   venue         125741 non-null  object
 3   target_runs   125741 non-null  float64
 4   super_over    125741 non-null  object
 5   inning        125741 non-null  int64
 6   batting_team  125741 non-null  object
 7   bowling_team  125741 non-null  object
 8   over          125741 non-null  int64
 9   ball          125741 non-null  int64
 10  total_runs    125741 non-null  int64
 11  is_wicket     125741 non-null  int64
dtypes: float64(1), int64(6), object(5)
memory usage: 12.5+ MB

In [343]:
ipl.isnull().sum()

match_id           0
city            6012
venue              0
target_runs        0
super_over         0
inning             0
batting_team       0
bowling_team       0
over               0
ball               0
total_runs         0
is_wicket          0
dtype: int64

- We have 4% missing data in city column

In [344]:
ipl.describe()

,match_id,target_runs,inning,over,ball,total_runs,is_wicket
count,1.257410e+05,125741.000000,125741.0,125741.000000,125741.000000,125741.000000,125741.000000
mean,9.071512e+05,168.203275,2.0,8.933427,3.616275,1.321733,0.049530
std,3.680313e+05,31.360123,0.0,5.568704,1.814127,1.623891,0.216973
min,3.359820e+05,43.000000,2.0,0.000000,1.000000,0.000000,0.000000
25%,5.483340e+05,149.000000,2.0,4.000000,2.000000,0.000000,0.000000
50%,9.809670e+05,168.000000,2.0,9.000000,4.000000,1.000000,0.000000
75%,1.254066e+06,188.000000,2.0,14.000000,5.000000,1.000000,0.000000
max,1.426312e+06,288.000000,2.0,19.000000,11.000000,7.000000,1.000000

In [345]:
ipl[ipl['target_runs'] == 43.00]
ipl[ipl['match_id'] == 733993]

,match_id,city,venue,target_runs,super_over,inning,batting_team,bowling_team,over,ball,total_runs,is_wicket
102095,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,0,1,0,0
102096,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,0,2,1,0
102097,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,0,3,4,0
102098,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,0,4,4,0
102099,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,0,5,1,0
102100,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,0,6,0,0
102101,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,0,7,0,0
102102,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,1,1,1,0
102103,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,1,2,0,0
102104,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,1,3,2,0
102105,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,1,4,0,1
102106,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,1,5,0,0
102107,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,1,6,1,0
102108,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,1,7,1,0
102109,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,1,8,2,0
102110,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,2,1,1,0
102111,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,2,2,1,0
102112,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,2,3,1,0
102113,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,2,4,1,0
102114,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,2,5,2,0
102115,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,2,6,1,0
102116,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,2,7,0,0
102117,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,3,1,1,0
102118,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,3,2,0,1
102119,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,3,3,1,0
102120,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,3,4,4,0
102121,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,3,5,1,0
102122,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,3,6,6,0
102123,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,4,1,1,0
102124,733993,Delhi,Feroz Shah Kotla,43.0,N,2,Sunrisers Hyderabad,Delhi Daredevils,4,2,6,0

In [346]:
ipl['batting_team'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Kolkata Knight Riders', 'Rajasthan Royals',
       'Mumbai Indians', 'Chennai Super Kings', 'Deccan Chargers',
       'Pune Warriors', 'Kochi Tuskers Kerala', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Gujarat Titans', 'Lucknow Super Giants',
       'Royal Challengers Bengaluru'], dtype=object)

- There are so many teams that have played 1 season or 2 seasons and some of the teams have changed their name and we will only consider those teams who are consistent.
- First, rename them
- Remove some of the IPL team

In [347]:
ipl['batting_team'] = ipl['batting_team'].replace({
    'Kings XI Punjab': 'Punjab Kings',
    'Delhi Daredevils': 'Delhi Capitals',
    'Royal Challengers Bangalore': 'Royal Challengers Bengaluru'
})

In [348]:

ipl['batting_team'] = ipl['batting_team'].drop(columns=[['Royal Challengers Bengaluru', 'Lucknow Super Giants','Gujarat Titans',
                                                        'Kolkata Knight Riders', 'Rajasthan Royals', 'Mumbai Indians',
                                                        'Chennai Super Kings','Sunrisers Hyderabad','Delhi Capitals','Punjab Kings',]])

In [349]:

teams = ['Royal Challengers Bengaluru', 'Lucknow Super Giants','Gujarat Titans',
                                                        'Kolkata Knight Riders', 'Rajasthan Royals', 'Mumbai Indians',
                                                        'Chennai Super Kings','Sunrisers Hyderabad','Delhi Capitals','Punjab Kings',]

In [350]:
ipl = ipl[ipl['batting_team'].isin(teams)]
ipl = ipl[ipl['bowling_team'].isin(teams)]

In [351]:
ipl.info()

<class 'pandas.core.frame.DataFrame'>
Index: 75714 entries, 124 to 260919
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   match_id      75714 non-null  int64
 1   city          71337 non-null  object
 2   venue         75714 non-null  object
 3   target_runs   75714 non-null  float64
 4   super_over    75714 non-null  object
 5   inning        75714 non-null  int64
 6   batting_team  75714 non-null  object
 7   bowling_team  75714 non-null  object
 8   over          75714 non-null  int64
 9   ball          75714 non-null  int64
 10  total_runs    75714 non-null  int64
 11  is_wicket     75714 non-null  int64
dtypes: float64(1), int64(6), object(5)
memory usage: 7.5+ MB

In [352]:
ipl.isnull().sum()

match_id           0
city            4377
venue              0
target_runs        0
super_over         0
inning             0
batting_team       0
bowling_team       0
over               0
ball               0
total_runs         0
is_wicket          0
dtype: int64

In [353]:
ipl.groupby('match_id')['city'].value_counts()
ipl.groupby(['match_id', 'city']).size().reset_index(name='counts')

     match_id        city  counts
0      335982   Bangalore     101
1      335983  Chandigarh     124
2      335984       Delhi      97
3      335985      Mumbai     123
4      335989     Chennai     128
..        ...         ...     ...
611   1426307   Hyderabad     122
612   1426309   Ahmedabad      84
613   1426310   Ahmedabad     119
614   1426311     Chennai     124
615   1426312     Chennai      67

[616 rows x 3 columns]

In [354]:
ipl['city'].fillna('Unknown', inplace=True)

In [355]:
ipl.groupby(['match_id', 'city']).size().reset_index(name='counts')

     match_id        city  counts
0      335982   Bangalore     101
1      335983  Chandigarh     124
2      335984       Delhi      97
3      335985      Mumbai     123
4      335989     Chennai     128
..        ...         ...     ...
648   1426307   Hyderabad     122
649   1426309   Ahmedabad      84
650   1426310   Ahmedabad     119
651   1426311     Chennai     124
652   1426312     Chennai      67

[653 rows x 3 columns]

In [356]:
ipl[ipl['city'] == 'Unknown']

,match_id,city,venue,target_runs,super_over,inning,batting_team,bowling_team,over,ball,total_runs,is_wicket
95639,729287,Unknown,Dubai International Cricket Stadium,116.0,N,2,Royal Challengers Bengaluru,Mumbai Indians,0,1,0,0
95640,729287,Unknown,Dubai International Cricket Stadium,116.0,N,2,Royal Challengers Bengaluru,Mumbai Indians,0,2,4,0
95641,729287,Unknown,Dubai International Cricket Stadium,116.0,N,2,Royal Challengers Bengaluru,Mumbai Indians,0,3,1,0
95642,729287,Unknown,Dubai International Cricket Stadium,116.0,N,2,Royal Challengers Bengaluru,Mumbai Indians,0,4,2,0
95643,729287,Unknown,Dubai International Cricket Stadium,116.0,N,2,Royal Challengers Bengaluru,Mumbai Indians,0,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
193612,1237181,Unknown,Dubai International Cricket Stadium,157.0,N,2,Mumbai Indians,Delhi Capitals,17,6,1,0
193613,1237181,Unknown,Dubai International Cricket Stadium,157.0,N,2,Mumbai Indians,Delhi Capitals,18,1,1,0
193614,1237181,Unknown,Dubai International Cricket Stadium,157.0,N,2,Mumbai Indians,Delhi Capitals,18,2,1,0
193615,1237181,Unknown,Dubai International Cricket Stadium,157.0,N,2,Mumbai Indians,Delhi Capitals,18,3,0,1
193616,1237181,Unknown,Dubai International Cricket Stadium,157.0,N,2,Mumbai Indians,Delhi Capitals,18,4,1,0

In [357]:
ipl['venue'].str.split(" ").tolist()[0][0]

'M'

In [358]:
# np.where(ipl[ipl['city'] == 'Unknown'],ipl['venue'].str.split(" ").tolist()[0][0], ipl['city'] )

In [359]:
city=ipl['city'].value_counts()[ipl['city'].value_counts() > 600].index.tolist()

In [360]:
ipl = ipl[ipl['city'].isin(city)]

In [361]:
ipl.head()

,match_id,city,venue,target_runs,super_over,inning,batting_team,bowling_team,over,ball,total_runs,is_wicket
124,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,1,1,0
125,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,2,1,0
126,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,3,0,0
127,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,4,1,0
128,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,5,1,0

In [362]:
ipl.info()

<class 'pandas.core.frame.DataFrame'>
Index: 71262 entries, 124 to 260919
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   match_id      71262 non-null  int64
 1   city          71262 non-null  object
 2   venue         71262 non-null  object
 3   target_runs   71262 non-null  float64
 4   super_over    71262 non-null  object
 5   inning        71262 non-null  int64
 6   batting_team  71262 non-null  object
 7   bowling_team  71262 non-null  object
 8   over          71262 non-null  int64
 9   ball          71262 non-null  int64
 10  total_runs    71262 non-null  int64
 11  is_wicket     71262 non-null  int64
dtypes: float64(1), int64(6), object(5)
memory usage: 7.1+ MB

In [363]:
ipl.duplicated().sum()

0

Current Score
Wickets out
Overs completed

In [364]:
current_score = ipl.groupby('match_id')['total_runs'].cumsum()

In [365]:
ipl['current_score'] = current_score

In [366]:
ipl.head()

,match_id,city,venue,target_runs,super_over,inning,batting_team,bowling_team,over,ball,total_runs,is_wicket,current_score
124,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,1,1,0,1
125,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,2,1,0,2
126,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,3,0,0,2
127,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,4,1,0,3
128,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,5,1,0,4

In [367]:
ipl['is_wicket'].value_counts()

is_wicket
0    67655
1     3607
Name: count, dtype: int64

In [368]:
ipl['is_wicket'].isnull().sum()

0

In [369]:
ipl.rename(columns={'is_wicket' : 'wickets_out'}, inplace=True)

In [370]:
ipl['over_completed'] = 20 - ipl['over']

In [371]:
ipl.head(10)

,match_id,city,venue,target_runs,super_over,inning,batting_team,bowling_team,over,ball,total_runs,wickets_out,current_score,over_completed
124,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,1,1,0,1,20
125,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,2,1,0,2,20
126,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,3,0,0,2,20
127,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,4,1,0,3,20
128,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,5,1,0,4,20
129,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,6,0,0,4,20
130,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,7,0,0,4,20
131,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,2,Royal Challengers Bengaluru,Kolkata Knight Riders,1,1,0,1,4,19
132,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,2,Royal Challengers Bengaluru,Kolkata Knight Riders,1,2,0,0,4,19
133,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,2,Royal Challengers Bengaluru,Kolkata Knight Riders,1,3,4,0,8,19

In [167]:
# ipl.drop(columns=['match_id', 'venue', 'over', 'ball', 'inning'], inplace=True)

In [376]:
ipl.sample(10)

,match_id,city,venue,target_runs,super_over,inning,batting_team,bowling_team,over,ball,total_runs,wickets_out,current_score,over_completed,run_left,wickets_left
57609,501267,Kolkata,Eden Gardens,176.0,N,2,Mumbai Indians,Kolkata Knight Riders,18,1,0,5,146,2,30.0,5
116515,829773,Hyderabad,"Rajiv Gandhi International Stadium, Uppal",193.0,N,2,Chennai Super Kings,Sunrisers Hyderabad,11,5,1,3,104,9,89.0,7
208037,1254117,Dubai,Dubai International Cricket Stadium,193.0,N,2,Kolkata Knight Riders,Chennai Super Kings,19,2,1,8,163,1,30.0,2
144172,1082623,Chandigarh,"Punjab Cricket Association IS Bindra Stadium, ...",208.0,N,2,Punjab Kings,Sunrisers Hyderabad,16,2,1,6,147,4,61.0,4
145787,1082630,Delhi,Feroz Shah Kotla,186.0,N,2,Delhi Capitals,Sunrisers Hyderabad,11,1,1,2,102,9,84.0,8
165929,1175360,Delhi,Arun Jaitley Stadium,148.0,N,2,Chennai Super Kings,Delhi Capitals,16,5,0,3,125,4,23.0,7
676,335984,Delhi,Feroz Shah Kotla,130.0,N,2,Delhi Capitals,Rajasthan Royals,12,6,5,1,110,8,20.0,9
59367,548309,Jaipur,Sawai Mansingh Stadium,192.0,N,2,Punjab Kings,Rajasthan Royals,2,3,1,0,17,18,175.0,10
193752,1254058,Chennai,"MA Chidambaram Stadium, Chepauk, Chennai",160.0,N,2,Royal Challengers Bengaluru,Mumbai Indians,1,5,1,0,15,19,145.0,10
194256,1254060,Chennai,"MA Chidambaram Stadium, Chepauk, Chennai",188.0,N,2,Sunrisers Hyderabad,Kolkata Knight Riders,4,4,0,2,27,16,161.0,8

In [372]:
ipl['run_left'] = ipl['target_runs'] - ipl['current_score']

In [373]:
ipl['wickets_out'] = ipl.groupby('match_id')['wickets_out'].cumsum()

In [374]:
ipl['wickets_left'] = 10 - ipl['wickets_out']

In [375]:
ipl.shape

(71262, 16)

In [378]:
ipl = ipl[ipl['super_over'] == 'N']

In [379]:
ipl.head()

,match_id,city,venue,target_runs,super_over,inning,batting_team,bowling_team,over,ball,total_runs,wickets_out,current_score,over_completed,run_left,wickets_left
124,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,1,1,0,1,20,222.0,10
125,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,2,1,0,2,20,221.0,10
126,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,3,0,0,2,20,221.0,10
127,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,4,1,0,3,20,220.0,10
128,335982,Bangalore,M Chinnaswamy Stadium,223.0,N,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,5,1,0,4,20,219.0,10

In [192]:
matches.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [195]:
deliveries = deliveries[['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball', 'total_runs', 'is_wicket']]

In [196]:
matches = matches[['id', 'city', 'venue', 'target_runs', 'super_over']]

In [199]:
matches.rename(columns={'id' : 'match_id'}, inplace=True)
ipl = deliveries.merge(matches, how = "inner", on = 'match_id')

In [410]:
total_score_df = deliveries.groupby(['match_id', 'inning'])['total_runs'].sum().reset_index()

In [411]:
total_score_df = total_score_df[total_score_df['inning'] == 1]

In [412]:
total_score_df

      match_id  inning  total_runs
0       335982       1         222
2       335983       1         240
4       335984       1         129
6       335985       1         165
8       335986       1         110
...        ...     ...         ...
2207   1426307       1         214
2209   1426309       1         159
2211   1426310       1         172
2213   1426311       1         175
2215   1426312       1         113

[1095 rows x 3 columns]

In [413]:
df = matches.merge(total_score_df[['match_id', 'total_runs']], left_on='id', right_on='match_id')

In [414]:
df.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,total_runs
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,222
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,...,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,240
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,...,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,335984,129
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,...,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper,335985,165
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,...,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,335986,110

In [415]:
df['team1'] = df['team1'].replace({
    'Kings XI Punjab': 'Punjab Kings',
    'Delhi Daredevils': 'Delhi Capitals',
    'Royal Challengers Bangalore': 'Royal Challengers Bengaluru'
})

In [416]:
df['team2'] = df['team2'].replace({
    'Kings XI Punjab': 'Punjab Kings',
    'Delhi Daredevils': 'Delhi Capitals',
    'Royal Challengers Bangalore': 'Royal Challengers Bengaluru'
})

In [417]:


teams = ['Royal Challengers Bengaluru', 'Lucknow Super Giants','Gujarat Titans',
                                                        'Kolkata Knight Riders', 'Rajasthan Royals', 'Mumbai Indians',
                                                        'Chennai Super Kings','Sunrisers Hyderabad','Delhi Capitals','Punjab Kings',]

In [418]:

df = df[df['team1'].isin(teams)]
df = df[df['team2'].isin(teams)]

In [419]:
df['super_over'].value_counts()

super_over
N    897
Y     13
Name: count, dtype: int64

In [420]:
df = df[df['super_over'] == 'N']

In [421]:
df['winner'] = df.apply(lambda x: x['team1'] if x['result'] == 'runs' else x['team2'], axis=1)

In [422]:
ipl = df[['match_id', 'city', 'winner', 'total_runs']]

In [423]:
data = ipl.merge(deliveries, on='match_id')

In [424]:
data.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,Bangalore,Royal Challengers Bengaluru,222,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,Bangalore,Royal Challengers Bengaluru,222,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,Bangalore,Royal Challengers Bengaluru,222,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,Bangalore,Royal Challengers Bengaluru,222,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,Bangalore,Royal Challengers Bengaluru,222,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [425]:
data = data[data['inning'] == 2]

In [426]:
data['current_score'] = data.groupby('match_id')['total_runs_y'].cumsum()

In [427]:
data['runs_left'] = data['total_runs_x'] + 1 - data['current_score']

In [428]:
data['left_ball'] = 120 - data['ball']

In [429]:
data['wickets'] = data.groupby('match_id')['is_wicket'].cumsum()

In [430]:
data['wickets'] = 10 -data['wickets']

In [431]:
# Crr = runs / overs
(data['current_score']*6)  /(120 -  data['left_ball'])

124         6.0
125         6.0
126         4.0
127         4.5
128         4.8
          ...
213651    132.0
213652    111.0
213653    672.0
213654    339.0
213655    228.0
Length: 102967, dtype: float64

In [432]:
data['balls_bowled'] = data.groupby('match_id')['ball'].cumsum()

In [433]:
data['crr'] = round((data['current_score']*6)/data['balls_bowled'], 1)

In [434]:
data.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,left_ball,wickets,balls_bowled,crr
124,335982,Bangalore,Royal Challengers Bengaluru,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,0,NaN,NaN,NaN,1,222,119,10,1,6.0
125,335982,Bangalore,Royal Challengers Bengaluru,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,0,NaN,NaN,NaN,2,221,118,10,3,4.0
126,335982,Bangalore,Royal Challengers Bengaluru,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,0,NaN,NaN,NaN,2,221,117,10,6,2.0
127,335982,Bangalore,Royal Challengers Bengaluru,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,0,NaN,NaN,NaN,3,220,116,10,10,1.8
128,335982,Bangalore,Royal Challengers Bengaluru,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,0,NaN,NaN,NaN,4,219,115,10,15,1.6

In [435]:
# rrr 
data['rrr'] = round((data['runs_left']*6)/data['left_ball'], 1)

In [436]:
data['rrr'].isnull().sum()

0

In [437]:
def result(row):
    return 1 if row['batting_team'] == row['winner'] else 0

In [438]:
data['result'] = data.apply(result, axis=1)

In [439]:
data.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,dismissal_kind,fielder,current_score,runs_left,left_ball,wickets,balls_bowled,crr,rrr,result
124,335982,Bangalore,Royal Challengers Bengaluru,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,NaN,NaN,1,222,119,10,1,6.0,11.2,0
125,335982,Bangalore,Royal Challengers Bengaluru,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,NaN,NaN,2,221,118,10,3,4.0,11.2,0
126,335982,Bangalore,Royal Challengers Bengaluru,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,NaN,NaN,2,221,117,10,6,2.0,11.3,0
127,335982,Bangalore,Royal Challengers Bengaluru,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,NaN,NaN,3,220,116,10,10,1.8,11.4,0
128,335982,Bangalore,Royal Challengers Bengaluru,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,NaN,NaN,4,219,115,10,15,1.6,11.4,0

In [440]:
data.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,dismissal_kind,fielder,current_score,runs_left,left_ball,wickets,balls_bowled,crr,rrr,result
124,335982,Bangalore,Royal Challengers Bengaluru,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,NaN,NaN,1,222,119,10,1,6.0,11.2,0
125,335982,Bangalore,Royal Challengers Bengaluru,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,NaN,NaN,2,221,118,10,3,4.0,11.2,0
126,335982,Bangalore,Royal Challengers Bengaluru,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,NaN,NaN,2,221,117,10,6,2.0,11.3,0
127,335982,Bangalore,Royal Challengers Bengaluru,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,NaN,NaN,3,220,116,10,10,1.8,11.4,0
128,335982,Bangalore,Royal Challengers Bengaluru,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,NaN,NaN,4,219,115,10,15,1.6,11.4,0

In [441]:
final_df = data[['batting_team', 'bowling_team', 'city', 'runs_left',	'left_ball', 'total_runs_x',	'balls_bowled', 'wickets', 'crr',	'rrr',	'result']]

In [442]:
final_df = final_df.sample(final_df.shape[0])

In [443]:
final_df.isnull().sum()

batting_team       0
bowling_team       0
city            5641
runs_left          0
left_ball          0
total_runs_x       0
balls_bowled       0
wickets            0
crr                0
rrr                0
result             0
dtype: int64

In [444]:
final_df.dropna(inplace=True)

In [445]:
from sklearn.model_selection import train_test_split

In [446]:
X = final_df.iloc[:, :-1]
y = final_df.iloc[:, -1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [447]:
X_train

,batting_team,bowling_team,city,runs_left,left_ball,total_runs_x,balls_bowled,wickets,crr,rrr
176253,Punjab Kings,Delhi Capitals,Navi Mumbai,21,117,159,441,1,1.9,1.1
113668,Kolkata Knight Riders,Mumbai Indians,Mumbai,179,119,181,22,10,0.8,9.0
21968,Kolkata Knight Riders,Rajasthan Royals,Ahmedabad,101,116,168,220,8,1.9,5.2
36017,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,44,117,89,69,9,4.0,2.3
31184,Kings XI Punjab,Chennai Super Kings,Chandigarh,13,114,188,385,6,2.7,0.7
...,...,...,...,...,...,...,...,...,...,...
108193,Royal Challengers Bangalore,Mumbai Indians,Mumbai,160,115,213,127,8,2.6,8.3
88370,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,115,119,135,22,10,5.7,5.8
159945,Chennai Super Kings,Delhi Capitals,Dubai,114,114,172,133,9,2.7,6.0
196020,Lucknow Super Giants,Mumbai Indians,Chennai,149,116,182,94,8,2.2,7.7
100933,Mumbai Indians,Kings XI Punjab,Indore,29,113,198,329,8,3.1,1.5

In [448]:
from sklearn.compose import ColumnTransformer 
from sklearn.preprocessing import OneHotEncoder
trf = ColumnTransformer([
    ('trf', OneHotEncoder(sparse=False, drop='first'), ['batting_team', 'bowling_team', 'city'])
], remainder='passthrough')

In [449]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression

# Assuming trf is a valid transformer object
pipe = Pipeline(steps=[
    ('step1', trf), 
    ('step2', LogisticRegression(solver='liblinear'))
])

In [450]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [451]:
y_pred = pipe.predict(X_test)

In [452]:
from sklearn.metrics import accuracy_score

In [453]:
accuracy_score(y_test, y_pred)

0.7836740984280284

In [454]:
from sklearn.ensemble import RandomForestClassifier

In [455]:
pipe1 = Pipeline(steps=[
    ('step1', trf), 
    ('step2', RandomForestClassifier())
])

In [456]:
pipe1.fit(X_train, y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', RandomForestClassifier())])

In [457]:
y_pred = pipe1.predict(X_test)

In [458]:
accuracy_score(y_test, y_pred)

0.9988184526867359

In [459]:
pipe.predict_proba(X_test)[10]

array([0.99834237, 0.00165763])

In [460]:
def match_summary(row):
    print("Batting Team-" + row['batting_team'] + " | Bowling Team-" + row['bowling_team'] + " | Target- " + str(row['total_runs_x']))

In [461]:
def match_progression(x_df,match_id,pipe):
    match = x_df[x_df['match_id'] == match_id]
    match = match[(match['ball'] == 6)]
    temp_df = match[['batting_team','bowling_team','city','runs_left','balls_left','wickets','total_runs_x','crr','rrr']].dropna()
    temp_df = temp_df[temp_df['balls_left'] != 0]
    result = pipe.predict_proba(temp_df)
    temp_df['lose'] = np.round(result.T[0]*100,1)
    temp_df['win'] = np.round(result.T[1]*100,1)
    temp_df['end_of_over'] = range(1,temp_df.shape[0]+1)
    
    target = temp_df['total_runs_x'].values[0]
    runs = list(temp_df['runs_left'].values)
    new_runs = runs[:]
    runs.insert(0,target)
    temp_df['runs_after_over'] = np.array(runs)[:-1] - np.array(new_runs)
    wickets = list(temp_df['wickets'].values)
    new_wickets = wickets[:]
    new_wickets.insert(0,10)
    wickets.append(0)
    w = np.array(wickets)
    nw = np.array(new_wickets)
    temp_df['wickets_in_over'] = (nw - w)[0:temp_df.shape[0]]
    
    print("Target-",target)
    temp_df = temp_df[['end_of_over','runs_after_over','wickets_in_over','lose','win']]
    return temp_df,target

In [462]:
temp_df,target = match_progression(data,74,pipe)
temp_df

KeyError: "['balls_left'] not in index"

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(18,8))
plt.plot(temp_df['end_of_over'],temp_df['wickets_in_over'],color='yellow',linewidth=3)
plt.plot(temp_df['end_of_over'],temp_df['win'],color='#00a65a',linewidth=4)
plt.plot(temp_df['end_of_over'],temp_df['lose'],color='red',linewidth=4)
plt.bar(temp_df['end_of_over'],temp_df['runs_after_over'])
plt.title('Target-' + str(target))

In [ ]:
teams

In [ ]:
ipl['city'].unique()

In [405]:
import pickle
pickle.dump(pipe,open('pipe5.pkl','wb'))

In [463]:
pickle.dump(pipe, open('ipl.pkl', 'wb'))

In [464]:
X_train.shape

(77860, 10)

In [466]:
X_test.shape

(19466, 10)

In [467]:
with open('pipe5.pkl', 'rb') as f:
    pipe = pickle.load(f)
for i in pipe:
    print(i)

ColumnTransformer(remainder='passthrough',
                  transformers=[('trf',
                                 OneHotEncoder(drop='first', sparse=False),
                                 ['batting_team', 'bowling_team', 'city'])])
LogisticRegression(solver='liblinear')

In [468]:
with open('pipe.pkl', 'rb') as f:
    pipe = pickle.load(f)
for i in pipe:
    print(i)

ColumnTransformer(remainder='passthrough',
                  transformers=[('trf',
                                 OneHotEncoder(drop='first', sparse=False),
                                 ['batting_team', 'bowling_team', 'city'])])
StandardScaler()
XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.2, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=12, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=1000, n_jobs=None,
             num_parallel_tree=None, random_state=1, ...)

In [469]:
import pickle

# Load the pipeline from the pickle file
with open('pipe.pkl', 'rb') as f:
    pipe = pickle.load(f)

# Print the steps of the pipeline
for name, step in pipe.steps:
    print(name, step)

step1 ColumnTransformer(remainder='passthrough',
                  transformers=[('trf',
                                 OneHotEncoder(drop='first', sparse=False),
                                 ['batting_team', 'bowling_team', 'city'])])
step2 StandardScaler()
step3 XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.2, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=12, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=1000, n_jobs=None,
             num_parallel_tree=None, random_state=1, ...)